@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
     font-family: "Inter", sans-serif;
}

.products-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    gap: 40px;
}

.card{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 300px;
    height: 350px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card h3{
    color: #414449;
}

.light{
    color: gray;
}

.card h3 , .card p{
    padding: 2px 10px;
}


.image-justify{
    object-fit: cover;
}

.desc-product{
    padding-bottom: 20px;

}

.order-btn{
    position: absolute;
    background-color: #ff5200;
    bottom: 0px;
    left: 50%;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 80%;
    transform: translate(-50% , -50%);
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icon-s{
    font-size: 18px;
}